html {
  scroll-behavior: smooth;
}

.header {
  background-color: #67AEFC;
  height: 100px;
}
.header .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 18px 0;
  width: 100%;
  height: 100%;
}
.header__menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.header__menu_list {
  display: flex;
}
.header__menu_list-item a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}
.header__menu_list-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header__menu_list-item a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header__menu_list li + li {
  padding-left: 38px;
}
.header__btn:active {
  transform: scale(0.95);
}
.header__btn a {
  background: #75E169;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 42px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid transparent;
  transition: ease-in 0.3s;
}
.header__btn a:hover {
  border: 2px solid #fff;
  transition: ease-in 0.3s;
}
.header__burgerMenu {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.header__burgerMenu-item {
  width: 13px;
  height: 13px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
}
.header__burgerMenu-item:not(:last-child) {
  margin-right: 5px;
}

@media screen and (min-width: 951px) {
  .menu__burger {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .header__menu {
    display: none;
  }
  .header__btn {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .header__burgerMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .menu__burger_list {
    position: absolute;
    left: 0;
    top: 100px;
    background: #67AEFC;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-200%);
    transition: transform 0.5s;
    z-index: -5;
  }
  .menu__burger_list a {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #fff;
  }
  .menu__burger_list a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    bottom: -3px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  .menu__burger_list a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .showMenu {
    transform: translateY(0);
  }
  .menu__burger_list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .container.header__container {
    padding-top: 7px;
  }
  .header__logo {
    width: 50%;
    height: 50%;
  }
  .header__logo a {
    width: 100%;
  }
  .header__logo a img {
    width: 100%;
  }
}
.hero {
  width: 100%;
  height: auto;
  position: relative;
}
.hero__container::before {
  content: url("../images/shape sphere.267.svg");
  position: absolute;
  left: 9%;
  top: 12%;
  z-index: -7;
}
.hero__container::after {
  content: url("../images/Layer 9 copy 3.svg");
  position: absolute;
  z-index: 1;
  left: 63px;
  bottom: 95px;
}
.hero__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  position: relative;
}
.hero__info_text {
  width: 570px;
  height: auto;
}
.hero__info_text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  margin-bottom: 20px;
  margin-top: 150px;
}
.hero__info_text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000;
  width: 75%;
  margin-bottom: 58px;
}
.hero__info-btn {
  padding: 23px 92px;
  background-color: #75E169;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  margin-bottom: 180px;
  cursor: pointer;
}
.hero__info-btn:active {
  transform: scale(0.95);
}
.hero__info-btn a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.hero__info_image {
  width: 570px;
  height: auto;
}
.hero__info_image img {
  width: 100%;
}
.hero__info_image::before {
  content: url("../images/shape  cylinder.275.svg");
  position: absolute;
  left: 60%;
  top: 20%;
}

.hero::before {
  content: url("../images/Ellipse 3.svg");
  position: absolute;
  bottom: 41px;
}

.elips {
  position: absolute;
  top: 19%;
  right: 0%;
  width: 34%;
  height: 50%;
  z-index: -5;
}
.elips-image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1530px) {
  .hero__container::before {
    display: none;
  }
}
@media screen and (max-width: 1170px) {
  .hero__info_image::before {
    top: 20%;
    left: 60%;
  }
  .hero::after {
    top: 2%;
  }
  .elips {
    top: 14%;
    width: 55%;
  }
}
@media screen and (max-width: 1169px) {
  .hero__info_image::before {
    top: 1%;
    left: 32%;
  }
}
@media screen and (max-width: 678px) {
  .hero::after {
    width: 400px;
    left: 65px;
  }
}
@media screen and (max-width: 650px) {
  .hero__info_image::before {
    top: 1%;
    left: 20%;
  }
}
@media screen and (max-width: 580px) {
  .hero__info_text h1 {
    font-size: 27px;
    line-height: 120%;
    margin-top: 50px;
  }
  .hero__info_text p {
    font-size: 14px;
    line-height: 140%;
    width: 100%;
  }
  .hero__info-btn {
    width: 100%;
    margin-bottom: 50px;
  }
  .hero::before {
    display: none;
  }
  .hero__container::after {
    display: none;
  }
}
@media screen and (max-width: 530px) {
  .hero__info_image::before {
    top: 1%;
    left: 1%;
  }
}
@media screen and (max-width: 420px) {
  .hero__info_image::before {
    margin-top: -5px;
    margin-left: 45px;
  }
  .hero__info_image {
    margin-top: 60px;
  }
  .hero__container::after {
    display: block;
    left: -5%;
    bottom: 48%;
    z-index: -5;
  }
  .hero__info::before {
    content: url("../images/Ellipse 3 green.svg");
    position: absolute;
    top: 15px;
    left: -15px;
  }
  .elips {
    top: 18%;
    height: 80%;
    width: 90%;
  }
}
.userInfo {
  background-color: #DAECFF;
  width: 100%;
  height: auto;
}
.userInfo__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.userInfo__container::after {
  content: url("../images/bag.149.png");
  position: absolute;
  bottom: 85px;
  right: -250px;
}
.userInfo__container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
  margin-top: 120px;
  padding: 0 8px;
  margin-bottom: 100px;
}
.userInfo__item {
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 15px;
}
.userInfo__item.active .userInfo__item__text {
  max-height: 250px;
  animation: fade 1s ease-in-out;
}
.userInfo__item.active .userInfo__item__title .green {
  display: none;
}
.userInfo__item.active .userInfo__item__title .blue {
  display: block;
  margin-right: 30px;
  animation: show 1s ease-in-out;
}
.userInfo__item__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: fit-content;
  padding: 20px 44px;
  height: 60px;
}
.userInfo__item__title .box {
  display: flex;
  align-items: center;
}
.userInfo__item__title .box .green {
  display: block;
  margin-right: 30px;
  animation: show 1.4s ease-in-out;
}
.userInfo__item__title .box .blue {
  display: none;
}
.userInfo__item__title .box p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #111111;
  transition: all 1.4s;
}
.userInfo__item__title img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.5s ease-in;
}
.userInfo__item.active img {
  transform: rotate(180deg);
}
.userInfo__item.active .userInfo__item__title p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #111111;
  animation: text 1.4s ease-in-out;
}
.userInfo__item__text {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
  padding: 0 44px;
  display: flex;
}
.userInfo__item__text .line {
  border: 1px solid #000;
  margin-bottom: 20px;
  margin-left: 10px;
}
.userInfo__item__text p {
  text-align: justify;
  margin-bottom: 20px;
  max-width: 90%;
  margin-left: 43px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #000;
}
.userInfo .userInfo__item:last-child {
  margin-bottom: 120px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes show {
  from {
    opacity: 0;
    transition: transform 1s ease-in-out;
  }
  to {
    opacity: 1;
    transition: transform 1.4s ease-in-out;
  }
}
@keyframes text {
  from {
    opacity: 0;
    transition: transform 1.4s ease-in-out;
  }
  to {
    opacity: 1;
    transition: transform 1.4s ease-in-out;
  }
}
@media screen and (max-width: 1700px) {
  .userInfo__container::after {
    display: none;
  }
}
@media screen and (max-width: 590px) {
  .userInfo__item__title .box .green {
    margin-right: 10px;
  }
  .userInfo__item__title {
    padding: 20px 15px;
  }
  .box p {
    text-align: left;
  }
  .userInfo__item.active .userInfo__item__text {
    max-height: 1090px;
    animation: fade 1s ease-in-out;
  }
  .userInfo__item__text {
    padding: 0 15px;
  }
  .userInfo__item.active .userInfo__item__title p {
    font-size: 16px;
  }
  .userInfo__container h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 150%;
    padding: 0;
  }
  .userInfo .userInfo__item:last-child {
    margin-bottom: 30px;
  }
  .userInfo__container::after {
    display: none;
  }
}
.carousel {
  width: 100%;
}
.carousel__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.carousel__container::before {
  content: url("../images/shape sphere.269.svg");
  position: absolute;
  top: 120px;
  left: -150px;
}
.carousel__container::after {
  content: url("../images/shape wave.257 copy.svg");
  position: absolute;
  bottom: 40px;
  right: 60px;
}
.carousel__container h2 {
  margin-top: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #000;
}
.carousel__slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  max-width: 1170px;
  height: 450px;
  overflow: hidden;
}
.carousel__slider_item {
  width: 100%;
  max-width: 570px;
  height: 450px;
  position: absolute;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__slider_item-box {
  width: 90%;
  height: 90%;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.carousel__slider_item-box .info {
  width: 50%;
  height: 70%;
  padding-left: 20px;
}
.carousel__slider_item-box .info h4 {
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #000;
}
.carousel__slider_item-box .info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000;
}
.carousel__slider_item-box img {
  width: 50%;
  height: 60%;
  padding-right: 10px;
}
.carousel__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-bottom: 130px;
  cursor: pointer;
}
.carousel__button_left, .carousel__button_right {
  width: 60px;
  height: 60px;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__button_left .filter-white:active, .carousel__button_right .filter-white:active {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(318deg) brightness(105%) contrast(101%);
}
.carousel__button_left:active, .carousel__button_right:active {
  background-color: #67AEFC;
}
.carousel__button_left {
  margin-right: 30px;
}

@media screen and (max-width: 1490px) {
  .carousel__container::before {
    display: none;
  }
}
@media screen and (max-width: 1170px) {
  .carousel__container::after {
    display: none;
  }
}
@media screen and (max-width: 1145px) {
  .carousel__slider_item {
    max-width: 100%;
  }
  .carousel__slider_item-box .info {
    height: auto;
  }
  .carousel__slider_item-box .info img {
    width: auto;
    height: auto;
    padding-bottom: 10px;
  }
  .carousel__slider_item-box {
    justify-content: space-around;
  }
  .carousel__slider {
    height: 550px;
    margin-top: 20px;
  }
  .carousel__slider_item {
    height: 600px;
  }
}
@media screen and (max-width: 1030px) {
  .carousel__button {
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }
  .question__container::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .carousel__button {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 712px) {
  .carousel__slider_item-box .info {
    width: 100%;
  }
  .carousel__slider_item-box .info h4 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 17px;
  }
  .carousel__slider_item-box img {
    width: auto;
    height: auto;
  }
  .carousel__container h2 {
    margin-top: 42px;
    text-align: center;
    width: 100%;
    font-size: 23px;
  }
}
@media screen and (max-width: 480px) {
  .carousel__container::before {
    content: url("../images/shape sphere.269.svg");
    display: block;
    position: absolute;
    top: 21px;
    left: -40px;
  }
}
.templates {
  width: 100%;
  height: auto;
  background-color: #DAECFF;
}
.templates__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.templates__container h2 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #111111;
  margin: 120px 0 50px 0;
}
.templates__container::before {
  content: url("../images/shape wave.242.svg");
  position: absolute;
  top: 265px;
  left: -340px;
}
.templates__container::after {
  content: url("../images/shape sphere.269 (1).svg");
  position: absolute;
  bottom: 215px;
  right: -200px;
}
.templates__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px;
}
.templates__box_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.templates__box_right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.templates__box_item {
  height: 405px;
  border-radius: 15px;
  position: relative;
}
.templates__box_item img {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px;
}
.templates__box_item .descr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #67AEFC;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  transition: opacity 0.2s, visibility 0.2s;
}
.templates__box_item .descr h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #fff;
  transition: 0.2s;
}
.templates__box_item .descr p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #fff;
  transition: 0.2s;
}
.templates__box_item.storehouse:hover .descr {
  visibility: visible;
  opacity: 1;
}
.templates__box_item.barber:hover .descr {
  visibility: visible;
  opacity: 1;
}
.templates__box_item.pastry-cook:hover .descr {
  visibility: visible;
  opacity: 1;
}
.templates__box_item.florist:hover .descr {
  visibility: visible;
  opacity: 1;
}
.templates__box_item.make-up:hover .descr {
  visibility: visible;
  opacity: 1;
}
.templates__box_item.painter:hover .descr {
  visibility: visible;
  opacity: 1;
}
.templates__box_item:not(:last-child) {
  margin: 10px;
}

@media screen and (max-width: 1660px) {
  .templates__container::before {
    display: none;
  }
}
@media screen and (max-width: 1575px) {
  .templates__container::after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .templates__box_item img {
    width: 100%;
  }
  .templates__box_item {
    margin: 20px 0;
  }
}
@media screen and (max-width: 555px) {
  .templates__box_item:not(:last-child) {
    margin-right: 0;
  }
  .templates__container h2 {
    font-size: 23px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 15px;
  }
  .templates__box_item img {
    width: 100%;
  }
}
.question {
  width: 100%;
  height: auto;
  background: #fff;
}
.question__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-top: 140px;
  margin-bottom: 105px;
  position: relative;
}
.question__container_left {
  width: 57%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.question__container_left h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #111111;
  margin-bottom: 53px;
}
.question__container_left p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #111111;
  margin-bottom: 45px;
}
.question__container_left .questionBtn {
  width: 45%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  margin-bottom: 0;
}
.question__container_left .questionBtn a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}
.question__container_left .questionBtn:active {
  transform: scale(0.95);
}
.question__container_right {
  width: 43%;
  height: auto;
}
.question__container_right h2 {
  display: none;
}
.question__container_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.question__container::before {
  content: url("../images/shape sphere.267.svg");
  position: absolute;
  top: 0;
  left: -215px;
}

@media screen and (max-width: 1040px) {
  .question__container_left {
    width: 50%;
  }
}
@media screen and (max-width: 970px) {
  .question__container_left h2 {
    font-size: 27px;
    margin-bottom: 20px;
  }
  .question__container_left p {
    font-size: 15px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .question__container {
    margin-top: 30px;
  }
  .question__container_left {
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .question__container_left h2 {
    display: none;
  }
  .question__container_right {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .question__container_right img {
    width: 100%;
  }
  .question__container_right h2 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
    color: #111111;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 760px) {
  .question__container_left h2 {
    text-align: center;
  }
  .question__container_left p {
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  .question__container_left .questionBtn {
    width: 100%;
  }
  .question__container::before {
    content: url("../images/shape sphere.269.svg");
    display: block;
    position: absolute;
    top: -50px;
    left: 229px;
  }
}
.contact {
  width: 100%;
  height: auto;
  background-color: #DAECFF;
}
.contact__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.contact__container_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 470px;
  flex-wrap: wrap;
  position: relative;
}
.contact__container_box h2 {
  margin-top: 180px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #111111;
}
.contact__container_box p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  color: #111111;
  margin-bottom: 30px;
}
.contact__container_box_form {
  margin-bottom: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.contact__container_box_form input::placeholder {
  padding-left: 14px;
}
.contact__container_box_form input:not(:last-child) {
  margin-bottom: 20px;
  width: 100%;
  height: 58px;
  background: #fff;
  border: 1px solid #6EB1FB;
  border-radius: 10px;
}
.contact__container_box_form input[type=text] {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
}
.contact__container_box_form button {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #F9F9F9;
  background-color: #6BD75F;
  width: 270px;
  height: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact__container_box_form button:active {
  transform: scale(0.95);
}
.contact__container_box::before {
  content: url("../images/phone call.243.png");
  position: absolute;
  top: 230px;
  left: -450px;
}
.contact__container_box::after {
  content: url("../images/Group 175.svg");
  position: absolute;
  top: 261px;
  right: -380px;
}

@media screen and (max-width: 1235px) {
  .contact__container_box::after {
    display: none;
  }
}
@media screen and (max-width: 1180px) {
  .contact__container_box::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact__container_box_image {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .contact__container_box h2 {
    margin-top: 35px;
  }
}
@media screen and (max-width: 500px) {
  .contact__container_box_form button {
    width: 100%;
  }
  .contact__container_box h2 {
    margin-top: 42px;
    font-size: 23px;
    text-align: center;
    line-height: 150%;
  }
  .contact__container_box p {
    font-size: 17px;
  }
}
.footer {
  width: 100%;
  height: auto;
  background-color: #64ABF9;
}
.footer__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__container_about-us {
  width: 100%;
  display: flex;
  gap: 190px;
  flex-wrap: wrap;
  margin-top: 110px;
  margin-bottom: 120px;
}
.footer__container_about-us .social-media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__container_about-us .social-media_logo {
  margin-bottom: 46px;
}
.footer__container_about-us .social-media_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.footer__container_about-us .personal {
  display: flex;
  flex-direction: column;
}
.footer__container_about-us .personal__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__container_about-us .personal__item p, .footer__container_about-us .personal__item a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer__container_about-us .personal__item:not(:last-child) {
  margin-bottom: 13px;
}
.footer__container_about-us .contact-email a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.footer__container .social-media_icon.screen {
  display: none;
}
.footer__container_rights-policy {
  margin-bottom: 80px;
}
.footer__container_rights-policy p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .footer__container_about-us {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 60px;
  }
}
@media screen and (max-width: 425px) {
  .footer__container_about-us .social-media_icon {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .footer__container .social-media_icon.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
  }
}