.footer {
  width: 100%;
  height: auto;
  background-color: #64ABF9;
}
.footer__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__container_about-us {
  width: 100%;
  display: flex;
  gap: 190px;
  flex-wrap: wrap;
  margin-top: 110px;
  margin-bottom: 120px;
}
.footer__container_about-us .social-media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__container_about-us .social-media_logo {
  margin-bottom: 46px;
}
.footer__container_about-us .social-media_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.footer__container_about-us .personal {
  display: flex;
  flex-direction: column;
}
.footer__container_about-us .personal__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__container_about-us .personal__item p, .footer__container_about-us .personal__item a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer__container_about-us .personal__item:not(:last-child) {
  margin-bottom: 13px;
}
.footer__container_about-us .contact-email a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.footer__container .social-media_icon.screen {
  display: none;
}
.footer__container_rights-policy {
  margin-bottom: 80px;
}
.footer__container_rights-policy p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .footer__container_about-us {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 60px;
  }
}
@media screen and (max-width: 425px) {
  .footer__container_about-us .social-media_icon {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .footer__container .social-media_icon.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
  }
}