.hero {
  width: 100%;
  height: auto;
  position: relative;
}
.hero__container::before {
  content: url("../images/shape sphere.267.svg");
  position: absolute;
  left: 240px;
  top: 120px;
  z-index: -7;
}
.hero__container::after {
  content: url("../images/Layer 9 copy 3.svg");
  position: absolute;
  z-index: 1;
  left: 63px;
  bottom: 95px;
}
.hero__info {
  display: flex;
  align-items: center;
  position: relative;
}
.hero__info_text {
  width: 838px;
  z-index: 5;
  margin-top: 171px;
}
.hero__info_text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  width: 70%;
  margin-bottom: 20px;
}
.hero__info_text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000;
  width: 55%;
  margin-bottom: 58px;
}
.hero__info-btn {
  padding: 23px 92px;
  background-color: #75E169;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  width: 30%;
  margin-bottom: 180px;
  cursor: pointer;
}
.hero__info-btn:active {
  transform: scale(0.95);
}
.hero__info-btn a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.hero__info_image {
  margin-top: 171px;
  margin-bottom: 41px;
  width: 621px;
  z-index: -5;
  position: absolute;
  right: -120px;
}
.hero__info_image img {
  width: 100%;
}
.hero__info_image::before {
  content: url("../images/shape  cylinder.275.svg");
  position: absolute;
  left: 185px;
  top: -40px;
}

.hero::before {
  content: url("../images/Ellipse 3.svg");
  position: absolute;
  bottom: 41px;
}

.hero::after {
  content: url("../images/Ellipse 2.svg");
  position: absolute;
  width: 590px;
  right: 20px;
  top: 20%;
  z-index: -7;
}