@import '../variables/color.scss';
@import '../variables/fontFamily.scss';
@import '../variables/fontSize.scss';


.templates {
    width: 100%;
    height: auto;
    background-color: $secondaryBackgroundColor;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        h2 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: $sectionTitleFontSize;
            line-height: 125%;
            color: #111111;
            margin: 120px 0 50px 0;
        }
    }

    &__container::before {
        content: url('../images/shape wave.242.svg');
        position: absolute;
        top: 265px;
        left: -340px;
    }

    &__container::after {
        content: url('../images/shape sphere.269 (1).svg');
        position: absolute;
        bottom: 215px;
        right: -200px;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 120px;

        &_left {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &_right {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

       &_item {
        height: 405px;
        border-radius: 15px;
        position: relative;

        img {
            height: 100%;
            overflow: hidden;
            object-fit: cover;
            border-radius: 15px;
        }

        .descr {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $primaryBackgroundColor;
            color: #fff;
            visibility: hidden;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 15px;
            transition: opacity .2s, visibility .2s;


            h4 {
                font-family: $fontFamily;
                font-weight: 700;
                font-size: 21px;
                line-height: 125%;
                color: #fff;
                transition: .2s;
            }
            

            p {
                font-family: $fontFamily;
                font-weight: 400;
                font-size: $mainSubTitleFontSize;
                line-height: 175%;
                color: #fff;
                transition: .2s;
            }
        }

        &.storehouse:hover .descr {
            visibility: visible;
            opacity: 1;
          }
        &.barber:hover .descr {
            visibility: visible;
            opacity: 1;
        }
        &.pastry-cook:hover .descr {
            visibility: visible;
            opacity: 1;
        }
        &.florist:hover .descr {
            visibility: visible;
            opacity: 1;
        }
        &.make-up:hover .descr {
            visibility: visible;
            opacity: 1;
        }
        &.painter:hover .descr {
            visibility: visible;
            opacity: 1;
        }


       }

       &_item:not(:last-child) {
        margin: 10px;
       }
    }
}


@media screen and (max-width: 1660px) {
    .templates__container::before {
        display: none;
    }
}

@media screen and (max-width: 1575px) {
    .templates__container::after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .templates__box_item img {
        width: 100%;
    }

    .templates__box_item {
        margin: 20px 0;
    }
}

@media screen and (max-width: 555px) {
    .templates__box_item:not(:last-child) {
        margin-right: 0;
    }

    .templates__container h2 {
        font-size: 23px;
        text-align: center;
        margin-top: 23px;
        margin-bottom: 15px;
    }

    .templates__box_item img {
        width: 100%;
    }
}